/*****************************************************************************
 * base -- NO CLASSES OR IDS!!!
 ****************************************************************************/
body {
   font-family: arial;
   font-size: 1rem;
   color: #444444;
   margin: 0 auto;
   line-height: 1.25;
   /* keeps the page from jittering on load */
   overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, p, ul, select, input { margin-bottom: 1.875rem; }

h1 { font-size: 2rem;}

h2 { font-size: 1.5rem; }

h3 { font-size: 1.25rem; }

h4, h5, h6, p, a {
   display: inline-block;
   font-size: 1rem;
}

p { display: block; }

table {
   margin-bottom: 3rem;
   width: 100%;
}

th, td {
   text-align: center;
   padding: 0.625rem;
   border: 1px solid #cccccc;
   min-width: 7.813rem;
}

input, button, select {
   width: 100%;
   height: 3rem;
}

input, button {
   padding: 15px;
}

select {
   padding-left: 15px;
}

nav ul {
   text-align: center;
   margin: 4em 0 -4rem;
}

nav ul > li {
   display: inline-block;
   list-style-type: none;
}

nav ul > li:not(:last-of-type) { margin-right: 5rem; }

nav a {
   text-decoration: none;
}

nav a:hover { text-decoration: underline; }

header {
   background-color: #a4e4ff;
   padding: 5em 0;
}

header h1,
header h2 { margin-bottom: initial; }

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 5.5rem;
   background-color: #cccccc;
   padding: 2em 0;
}

footer p { margin: 0; }

strong { font-weight: bold; }
