/*input[type="submit"] {
   margin-bottom: 0;
   padding: 0px;
   height: 2em;
   font-size: 1rem;
}*/

h1 {
   text-align: center;
   margin-top: 2rem;
}

.margin-buttom-none { margin-bottom: 0; }
.margin-buttom-3 { margin-bottom: 3rem; }

.or {
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
}

.or-big {
   text-align: center;
}
