p {
   line-height: 1.5;
}

form {
   margin-bottom: 1em;
}

input {
   display: inline-block;
   margin-bottom: 1em;
}

.text-container {
   font-size: 1.1em;
   padding: 1em 2em;
   margin-bottom: 1em;
}

.text-container:first-of-type {
   color: #660000;            /* red */
   background-color: #ffcccc; /* red */
}

.text-container:nth-of-type(2) {
   color: #006600;            /* green */
   background-color: #ddffdd; /* red */
}

.text-container:nth-of-type(3) {
   color: #000066;            /* blue */
   background-color: #ddddff; /* red */
}

.text-container:hover > p {
   font-weight: bold;
}
